:root {
    --sort-btn-background-color: #212529;
    --bar-background-color: #f5f5f5;
    --source-code-color: #00ffff;
    --sort-btn-color: #f5f5f5;
    --shadow-color: #888888;
}

body {
    background-color: #212529;
    color: white;
}
