:root {
    --bar-background-color: #f5f5f5;
    --sort-btn-color: #f5f5f5;
    --sort-btn-background-color: #212529;
    --source-code-color: #00ffff;
    --shadow-color: #888888;
}

body {
    background-color: #212529;
    color: #fff;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #ffffff;
}

.range {
    color: #ffffff;
}

/* Dark and Light mode */
.toggle {
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
}

#light:hover {
    color: yellow;
}


.about {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
}

.container-fluid {
    padding: 1% 2% 0 2%;
    text-align: left;
}

.nav-items {
    margin-left: auto;
    font-size: 1.5rem;
    font-weight: bold;
}

.random-array {
    margin-right: 1rem;
}

.nav-dropdown {
    font-size: 1.5rem;
    font-weight: bold;
}

.BARS {
    margin-top: 5%;
    height: 500px;
    width: 100%;
    text-align: center;
}

.stable {
    height: 500px;
    width: 0.1%;
    display: inline-block;
}

.BARS>*:not(:last-child) {
    background-color: var(--bar-background-color);
    margin-right: 0.1%;
    margin-left: 0.3%;
    border-radius: 50px;
    box-shadow: 3px 5px var(--shadow-color);
    bottom: 0px;
    display: inline-block;
}

.btn-sort,
.btn-sort:disabled {
    background-color: var(--sort-btn-background-color);
    color: var(--sort-btn-color);
    font-size: 1.75rem;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: 5px 3px var(--shadow-color);
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.dropdown-menu>li {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.dropdown-menu>li:hover {
    color: #1e2125;
    background-color: #e9ecef
}
